/* styles.css */

.homepage-banner {
    text-align: center;
    color: white;
}

.brandname {
    margin-top: 20px; /* Adjust margin top as needed */
}

.zomato-text {
    font-size: 32px; /* Example font size */
    font-weight: bold; /* Example font weight */
}

.separator {
    width: 100px; /* Example width */
    height: 2px; /* Example height */
    background-color: white; /* Example separator color */
    margin: 10px auto; /* Center the separator horizontally */
}

.banner {
    background-image: url('./milma.jpg'); /* Adjust path to your image */
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}
