/* Hide the scrollbar while keeping scroll functionality */
.custom-scrollbar {
    max-height: 80vh; /* Ensure it doesn't overflow the screen height */
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 0px;  /* For Chrome, Safari, and Opera */
    height: 0px;
  }
  
  /* Center the SideMenu vertically and ensure it is visible */
  .sidemenu-container {
    position: sticky;
    top: 50%;
    /* transform: translateY(-50%); */
    z-index: 10; /* Ensure it stays on top of other elements */
    background-color: white; /* Make sure it has a background */
    padding: 1rem; /* Add some padding if needed */
  }
  