.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    margin-top: 24px;
  }
  
  .login-label {
    width: 100%;
  }
  
  .login-label-text {
    font-size: 0.875rem;
    color: #AFB2BF; /* Adjust color as needed */
    margin-bottom: 4px;
    line-height: 1.375rem;
  }
  
  .required-marker {
    color: #FF4081; /* Adjust color as needed */
  }
  
  .login-input {
    background-color: #2A2D34; /* Adjust color as needed */
    border-radius: 0.5rem;
    color: #AFB2BF; /* Adjust color as needed */
    width: 100%;
    padding: 12px;
  }
  
  .relative {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    right: 12px;
    top: 38px;
    cursor: pointer;
  }
  
  .forgot-password-link {
    font-size: 0.75rem;
    margin-top: 4px;
    color: #007BFF; /* Adjust color as needed */
    text-align: right;
  }
  
  .login-button {
    background-color: #FFEB3B; /* Adjust color as needed */
    border-radius: 8px;
    font-weight: 500;
    color: #2A2D34; /* Adjust color as needed */
    padding: 8px 12px;
    margin-top: 24px;
  }
  